# do git da Vercel
Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.next
.git
# Nao e necessario visto que estamos empacotando todo o app
logs
*.log
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
# do git, repositorio selfup/nextjs-docker
.results
scripts
.env
# De outra referencia
**/.aws
**/dist
# arquivos de backup pg
backup-*.sql
backup-*.tar

# .dockerignore
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo


# .dockerignore site Bun
Dockerfile*
docker-compose*
.dockerignore
.gitignore
README.md
LICENSE
.vscode
Makefile
helm-charts
.editorconfig
.idea
coverage*
